@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the data</h1>
    <p>
       The data received from WebApi is: @Model
    </p>
</div>
